/* variable */
:root{

--main-bg-color: rgb(69, 48, 21);

}

/* middle */
main{

    /* background-color: aquamarine; */

    width: 100%;
    height: 95vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.all{

    /* background-color: blueviolet; */

    width: auto;
    height: auto;

    display: flex;
    flex-direction: row-reverse;


}



.right{

    background-color: var(--main-bg-color);

    width: 480px;
    height: 600px;
    margin: 5px;

    cursor: pointer;
    
}
.left{
    background-color: var(--main-bg-color);

    width: 480px;
    height: 600px;
    margin: 5px;
    
    cursor: pointer;

}
.left{
    display: none;
}




button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}























/* font */
p, a{
    color: #9AACB8;

    font-size: 25px;
    font-family: 'Caveat', cursive;

    cursor: default;
    text-decoration: none;

}
a{
    cursor: pointer;
}